<form
  action="/events/create"
  method="post"
  id="create-event-form"
  enctype="multipart/form-data"
>
  <input type="text" name="name" id="name" placeholder="Event name" /><br />
  <textarea
    id="description"
    name="description"
    rows="4"
    cols="50"
    placeholder="Write down the description of your event."
  ></textarea>
  <br />
  <select name="location" id="location">
    {{#each countries}}
      <option value="{{this.latlng}}">{{this.name}}</option>
    {{/each}}
  </select><br />
  <input type="datetime-local" name="date" id="date" /><br />

  <select name="type" id="select-type">
    {{#each eventCategories}}
      <option value="{{this._id}}" id="type">{{this.name}}</option>
    {{/each}}
  </select><br />

  <input type="file" name="imageUrl" id="imageUrl" /><br />

  <button type="submit" id="create-event-btn">Create Event!</button>
</form>
<p class="error-msg">{{errorMessage}}</p>