<div id="eventMap"></div>
<br />
<div class="card" style="">
  <img
    src="{{event.imageUrl}}"
    class="card-img-top"
    id="event-image"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title"><strong>{{event.name}}</strong></h5>
    <small>{{event.date}}</small>
    <hr noshade />
    <p class="card-text mt-3">{{event.description}}
    </p>
    {{#if itsTheOwner}}
      <a href="/events/{{event._id}}/edit">Edit</a>
      <hr noshade />
    {{/if}}

    <p class="card-text" id="event-attendance">There are currently
      {{event.attendance}}
      people attending this event.</p>

    {{#if isLoggedIn}}
      <form action="/events/{{event._id}}/attendance/increase" method="post">
        <button type="submit" class="btn btn-primary" id="isAttending">I am
          going!</button>
      </form>
    {{/if}}

    {{#if itsTheOwner}}
      <form action="/events/{{event._id}}/delete" method="post">
        <button
          type="submit"
          class="btn btn-primary mt-3"
          id="isAttending"
        >Delete my event!</button>
      </form>
    {{/if}}
  </div>
</div>

<script>
  const allEvents =
  {{{events}}}
</script>
<script src="/js/mapUtilities.js"></script>
<script src="/js/eventMap.js"></script>