<div id="nearYou"></div>
{{#each eventsHbs}}
<div class="card" id="near-you-card">
  <h5 class="card-header">{{this.name}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{this.description}}</h5>
    <p class="card-text">{{this.attendance}} People Going!</p>
    <a href="/events/{{this._id}}" class="btn btn-primary">See Details</a>
    <p id="event-date">{{this.date}}</p>
  </div>
</div>
{{/each}}

<script>
  const allEvents =
  {{{events}}}
</script>
<script src="/js/mapUtilities.js"></script>
<script src="/js/nearYou.js"></script>
